h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: rgb(94, 17, 36);
}

a {
    text-decoration: none;
}

body{
    background-color: rgb(181, 233, 215);
}

div{
    background-color: white;
    padding: 2em;
    margin: 2em;
}